<%- contentFor('body') %>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form action="/" method="POST" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="img" class="form-label">Selecione seu BackGroud</label>
            <input type="file" accept=".png" class="form-control" id="image" name="image" required />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Qual o seu projeto?</label>
            <input type="text" class="form-control" id="name" value="" name="name" required />
          </div>
          <div class="mb-3 ">
            <input class="btn btn-primary mb-3 form-control" type="submit" value="Enviar" />
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div>
        <a class="btn btn-primary form-control" href="<%= url %>/screem/<%= user.id %>" target="_blank">Compartilhar Todos</a>
      </div>
      <% items.forEach(function(image, index) { %>
        <div class="col-md-4 text-center mb-4">
          <div style="padding: 10px;">
            <img width="60%" style="background-color: #969494;"" src="/uploads/<%= image.img.data %>"
              alt="<%= image.name %>">
            <div>
              <h5>
                <%= image.name %>
              </h5>
              <p>
                <%= image.desc %>
                <a class="btn btn-primary" href="<%= url %>/screem/<%= image.id %>" target="_blank">Compartilhar</a>
              </p>
            </div>
          </div>
        </div>
        <% if ((index + 1) % 3===0) { %>
    </div>
    <div class="row">
      <% } %>
        <% }); %>
    </div>
  </div>